<section class="text-gray-400 body-font bg-gray-900 max-h-full">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">
          Libros Favoritos
        </h2>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4">
      @for (item of favoriteBooks; track item.book.ISBN) {
      <div class="xl:w-1/4 md:w-1/2 p-4" onmouseover="onMouseOver()">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg hover:animate-pulse">
          <img
            class="h-40 rounded w-full object-contain object-center mb-6 cursor-pointer"
            src="{{ item.book.cover }}"
            alt="{{ item.book.title }}"
            (click)="showModal(item)"
          />
          <h3
            class="tracking-widest text-indigo-400 text-xs font-medium title-font"
          >
            {{ item.book.genre }}
          </h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">
            {{ item.book.title }}
          </h2>
          <p class="leading-relaxed text-base">
            {{ item.book.synopsis }}
          </p>
          <button
            (click)="onRemoveBook(item.book.ISBN)"
            class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >
            Eliminar
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</section>
